.aboutCon{
 height: 500px;
  
    top:-1500px;
    position: relative;
    width:1200px;
    left:310px;
transition: 1s all ease;

overflow-y: scroll;
}
.aboutDown{
height: 500px;

    top:70px;
    position: relative;
    width:1200px;
    left:310px;
transition: 1s all ease;


}


.aboutCon h1{
    position: relative;
    left:300px;
  
}


.allInfo{
    display: flex;
}














@media (max-width:400px) {
    .aboutCon{
width: 350px;
margin-left:-300px;
margin-top:-500px;
height:300px;
    }




}










